@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}